@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
@import "tailwindcss";
@source "../src";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";
}

:root {
  overflow: hidden;
  background-color: #000814;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: #05070a;
}

.text-emerald-500 {
  text-shadow: 0 0 8px rgba(16, 185, 129, 0.4);
}

body::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.01), rgba(0, 0, 118, 0.03));
  z-index: 1000;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}